:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.main-div button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.main-div button:hover {
  cursor: pointer;
}

.main-div input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f4f4f4;
  font-size: 18px;
}

.main-div input:focus {
  outline: none;
}

.main-div input:disabled {
  color: #666666;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;

  margin-top: 50px;
  row-gap: 40px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}

.grid-item-2 {
  text-align: right;
  color: #0645ad;
}

.flbox-1 {
  display: flex;
  justify-content: flex-end;
}

.img-1 {
  margin-right: 15px;
}

.img-2 {
  margin-left: 14px;
}

.heading-2 {
  font-size: 22px;
}

.heading-3 {
  font-size: 18px;
}

.flbox {
  display: flex;
  align-items: center;
}

.flbox-2 {
  display: flex;
  align-items: center;
}

.medical-container {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-radius: 15px;
}

.medical {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
}

select {
  width: 200px;
  height: 30px;
  font-size: 18px;
}
@media screen and (min-width: 1051px) {
  .main-div {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 1050px) {
  .medical {
    grid-template-columns: 1fr;
  }

  .main-div {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.med-header {
  margin-right: 5px;
}
